@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Learning to work with .Net Core MVC is a great experience.</p>
    <p>This site is more dedicated to functionality than appearance.</p>
    <p>It's purpose is to store contacts using a PostgreSQL database.</p>
    <p>Please select the Contacts table above and demo the app.</p>
    <p>Thanks for stopping by! Enjoy!</p>
</div>
